streamlit
bcrypt
Pillow
sqlalchemy      
mecab-python3
unidic_lite
streamlit-autorefresh
Credentials
python-dotenv
#Flow
google-auth
google-auth-oauthlib    
google-api-python-client
emoji
validators
openai>=1.0.0